/************ HOME PAGE STYLES ************/
.home__heading { margin-bottom:8px; font-size:16px; font-weight:600; text-align:center; }
.home__paragraph {  }

.home__intro { display:flex; flex-direction:column; align-items:center; margin:80px auto; width:75%; text-align:center; }
.home__intro__title { margin-bottom:16px; font-size:32px; font-weight:600; }

.home__line-list { margin:0 auto 20px; width:80%; display:flex; flex-wrap:wrap; justify-content:center; gap:8px; }
.home__line-list__item { padding:8px 16px; font-weight:600; border-radius:8px; background:var(--color-main-primary); opacity:0.75; }
.home__line-list__item:hover { opacity:1; }

/****** SCREEN SIZES ******/

/** large screen size **/
@media (max-width:1280px) {
	
}

/** regular screen size **/
@media (max-width:1024px) {
	
}

/** tablet size **/
@media (max-width:768px) {
	
}

/** large smartphone size **/
@media (max-width:600px) {
	.home__intro { width:90%; }
}

/** small smartphone size **/
@media (max-width:480px) {

}
/**** END SCREEN SIZES ****/

/********** END HOME PAGE STYLES **********/