/************ LINE PAGE STYLES ************/
.c-line-title { padding:8px 16px; height:56px; display:flex; align-items:center; gap:16px; }
.c-line-title__name { font-size:24px; font-weight:700; }
.c-line-title__number { display:flex; align-items:center; justify-content:center; padding:0 12px; min-width:40px; height:40px; border-radius:32px; font-size:28px; font-weight:900; }

/** route **/
.c-route { position:relative; height:calc(100vh - 156px); position:relative; scroll-snap-type:y mandatory; display:flex; flex-direction:column; }

.route__separator { margin-top:24px; width:100%; height:12px; border-radius:8px; }
.route__viewport { display:flex; flex-direction:column; overflow-y:hidden; scroll-snap-type:y mandatory; scroll-behavior:smooth; width:100%; height:520px; }
.route__viewport
.route__viewport__view { scroll-snap-align:start; }
.route__list { padding:20px; display:flex; flex-wrap:wrap; gap:16px; }
.route__list--mobile { flex-direction:column; flex-wrap:nowrap; gap:0; padding:0; padding-bottom:40px; }

/****** SCREEN SIZES ******/
/** large screen size **/
@media (max-width:1280px) {
}

/** regular screen size **/
@media (max-width:1024px) {	
}

/** tablet size **/
@media (max-width:768px) {	
}

/** large smartphone size **/
@media (max-width:600px) {
}

/** small smartphone size **/
@media (max-width:480px) {	
}
/**** END SCREEN SIZES ****/

/********** END LINE PAGE STYLES **********/