/************ LINE STYLES ************/
.line {  }
.line-title { padding:8px 16px; height:56px; display:flex; align-items:center; gap:16px; }
.line-name { font-size:24px; font-weight:700; }
.line-number { display:flex; align-items:center; justify-content:center; padding:0 12px; min-width:40px; height:40px; border-radius:32px; font-size:28px; font-weight:900; }

/** route **/
.route { position:relative; height:calc(100vh - 156px); position:relative; scroll-snap-type:y mandatory; display:flex; flex-direction:column; }
.route-separator { margin-top:24px; width:100%; height:12px; border-radius:8px; }
.route-viewport { display:flex; flex-direction:column; overflow-y:hidden; scroll-snap-type:y mandatory; scroll-behavior:smooth; width:100%; height:520px; }
.route-viewport .route-view { scroll-snap-align:start; }

/****** STATION ******/
.route-stations { padding:20px; display:flex; flex-wrap:wrap; gap:16px; }
.route-station { position:relative; display:flex; flex-direction:column; height:auto; }
.route-station-name { /*position:absolute; top:140px; left:6px;*/ margin:100px 0 4px; padding-left:12px; width:28px; display:flex; align-items:flex-end; transform:rotate(-25deg); font-size:12px; font-weight:400; white-space:nowrap; cursor:pointer; }
.route-station.active .route-station-name { font-weight:700; }

/** circle **/
.route-station-circle { position:relative; margin:6px 4px; width:28px; height:28px; }
.route-station-trigger { position:absolute; top:125px; margin:0 4px; width:28px; height:28px; z-index:3; cursor:pointer; }
.route-station-code { position:relative; width:28px; height:28px; display:flex; align-items:center; justify-content:center; border-radius:50%; border:4px solid var(--color-gray-2); font-family:'JetBrains Mono', monospace; font-size:12px; font-weight:500; cursor:pointer; z-index:3; }
.route-station.active .route-station-code { outline:4px solid var(--color-gray-3); background:var(--color-gray-3); border:2px solid var(--color-white); transition:border 0.3s ease, outline 0.3s ease; }

/** track **/
.route-station-track { position:absolute; content:''; top:calc(50% - 6px); left:-12px; width:52px; height:12px; z-index:-1; }
.route-station-track:before { position:absolute; content:''; top:2px; right:8px; border-top:4px solid transparent; border-bottom:4px solid transparent; border-left:4px solid var(--color-white); }
.route-station-track:after { position:absolute; content:''; top:2px; right:4px; border-top:4px solid transparent; border-bottom:4px solid transparent; border-left:4px solid var(--color-white); }
.route-station-track.first, .route-station-track.last { width:36px; }
.route-station-track.first { left:4px }
.route-station-track.last:before, .route-station-track.last:after { border-color:transparent !important; }
.route-station-track.nio { border:4px solid var(--color-white); border-left:none; border-right:0; }
.route-station-track.nio:before, .route-station-track.nio:after { display:none; }
.route-station.active .route-station-track:before { right:4px; }
.route-station.active .route-station-track:after { right:0; }

/** transfers **/
.route-station-transfers { width:100%; display:flex; flex-direction:column; align-items:center; gap:4px; }
.route-station-transfer-line { margin:4px 0; width:1px; height:100px; background:var(--color-gray-4); }

/** fork **/
.route-station-fork { position:absolute; top:12px; left:20px; padding-top:20px; width:148px; height:auto; display:flex; flex-direction:column; gap:2px; border-left:4px solid var(--color-gray-2); z-index:2; }
.route-station-fork-branch { padding:0 4px 2px; font-size:10px; font-family:'Inter', sans-serif; border-bottom:4px solid var(--color-gray-2); background:var(--color-white); cursor:pointer; }
/**** END STATION ****/

/****** BRANCH ******/
.route-station:nth-child(even) .route-station-fork { padding-top:64px; z-index:1; }
.route-branch { display:flex; flex-direction:column; }
.route-branch-name { display:flex; align-items:center; gap:8px; margin-top:8px; padding:8px 16px; line-height:1; background:var(--color-gray-0); color:var(--color-black); font-size:14px; font-style:italic; }
.route-branch-back { margin:16px; padding:2px 6px; position:absolute; top:-56px; right:0; display:flex; align-items:center; justify-content:center; gap:4px; width:140px; line-height:1.25; outline:1px solid var(--color-gray-2); border-radius:4px; background:var(--color-white); color:var(--color-gray-3); font-weight:400; cursor:pointer; transition:all 0.2s ease; opacity:0.75; }
.route-branch-back:hover { font-weight:600; opacity:1; }
.route-branch-back:hover svg { stroke-width:1; }
/**** END BRANCH ****/

/****** MOBILE VERSION ******/
/** station **/
.route-stations-mobile { display:flex; flex-direction:column; padding-bottom:40px; }
.route-stations-mobile .route-line { margin:0; width:40px; border-radius:0; }
.route-station-mobile { display:flex; gap:16px; min-height:160px; }
.route-station-mobile:first-child .route-line { border-top-left-radius:999px; border-top-right-radius:999px; }
.route-station-mobile:last-child .route-line { border-bottom-left-radius:999px; border-bottom-right-radius:999px; }
.route-stations-mobile .route-station-code { margin:0; background:var(--color-white); border:8px solid var(--color-gray-3); width:40px; height:40px; }
.route-stations-mobile .route-station-track { display:none; }
.route-stations-mobile .route-station-name { margin:0; padding:8px 0; align-items:flex-start; transform:none; width:100%; min-height:36px; line-height:1.25; font-size:20px; font-weight:700; white-space:normal; }
.route-stations-mobile .route-station-info { }
.route-stations-mobile .route-station-transfers { margin-top:8px; flex-direction:row; }
.route-stations-mobile strong { display:flex; align-items:center; gap:4px; margin-top:8px; font-size:12px; font-weight:900; text-transform:uppercase; color:var(--color-gray-5); }
.route-stations-mobile code { display:block; margin:8px 0; padding:4px 8px; width:48px; border-radius:999px; background:var(--color-gray-1); font-size:12px; }

/** branch **/
.route-stations-mobile .route-branch { margin:0; }
.route-stations-mobile .route-branch-title { display:flex; gap:20px; }
.route-stations-mobile .route-branch-title { display:flex; gap:20px; }
.route-stations-mobile .route-branch-name { width:70%; margin-top:20px; font-size:20px; line-height:1.25; }
.route-stations-mobile .route-branch-name svg { width:25%; stroke-width:1px; }
.route-stations-mobile .route-branch-stations { display:flex; gap:20px; }
.route-stations-mobile .route-branch-line { position:relative; width:40px; background:var(--color-gray-1); }
.route-stations-mobile .route-branch-stations .route-stations-mobile { margin:0; width:70%; padding:40px 0; }
.route-stations-mobile .route-branch:last-child .route-branch-stations .route-branch-line { background:none !important; }
/**** END MOBILE VERSION ****/

/****** STATION TIP ******/
.station-tip { position:relative; margin:24px; display:flex; flex-direction:column; justify-content:flex-end; width:320px; height:520px; background:var(--color-white); border-radius:16px; overflow:hidden; }
.station-tip-info { position:absolute; width:100%; height:300px; border-radius:16px; background:var(--color-white); z-index:9; }
.station-tip-wrapper { height:100%; display:flex; flex-direction:column; justify-content:space-between; padding:20px; }
.station-tip-row { display:flex; }

/** info **/
.station-tip .status { position:absolute; top:-28px; margin:4px 0; box-shadow:0 2px 4px 0 rgba(0,0,0,0.25); font-size:10px; cursor:default; user-select:none; pointer-events:none; }
.station-tip-intro { display:flex; flex-direction:column; gap:16px; }
.station-tip-basic { display:flex; flex-direction:column; gap:8px; }
.station-tip-heading { display:flex; align-items:flex-start; justify-content:space-between; gap:16px; }
.station-tip-title { display:flex; gap:2px 8px; flex-wrap:wrap; align-items:flex-start; }
.station-tip-name { font-size:20px; font-weight:700; }
.station-tip-location { display:flex; gap:2px; padding-right:20px; font-size:12px; color:var(--color-gray-6); }
.station-tip-location svg { font-size:16px; }
.station-tip-transfers { display:flex; gap:6px; padding:6px; background:var(--color-white); box-shadow:0 4px 8px 0 rgba(211,211,211,0.25); border-radius:16px; }
.station-tip-description { font-size:14px; line-height:1.5; max-height:calc(14px * 1.5 * 3); overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical; }
.station-tip-button { font-size:13px; font-weight:600; transition:all 0.3s ease; }
.station-tip-button:hover { background:var(--color-gray-8) !important; box-shadow:0 8px 12px 0 rgba(62,62,62,0.25) !important; color:var(--color-white) !important; }
.station-tip-button:active { background:var(--color-black) !important; box-shadow:0 8px 12px 0 rgba(0,0,0,0.25) !important; color:var(--color-white) !important; }

/** background **/
.station-tip-bg { position:absolute; top:0; left:0; width:100%; height:50%; background-size:cover; display:flex; align-items:center; justify-content:center; }
.station-tip-bg svg { font-size:80px; color:var(--color-gray-1); }
/**** END STATION TIP ****/

/****** SCREEN SIZES ******/

/** large screen size **/
@media (max-width:1280px) {

}

/** regular screen size **/
@media (max-width:1024px) {
	
}

/** tablet size **/
@media (max-width:768px) {
	
}

/** large smartphone size **/
@media (max-width:600px) {
	.route-separator { margin:24px 0; width:100%; height:12px; border-radius:8px; }
	.station-tip { display:none; }
}

/** small smartphone size **/
@media (max-width:480px) {
	
}
/**** END SCREEN SIZES ****/

/********** END LINE STYLES **********/