/************ STATION STYLES ************/
.station {  }
.station-title { margin-bottom:8px; font-size:28px; font-weight:500; }

/** content **/
.station-content { display:flex; margin-bottom:20px; }
.station-content__item { margin-right:20px; width:70%; }
.station-content__item:last-child { margin-right:0; padding-left:20px; width:50%; border-left:1px solid var(--color-divider-dark); }
.station-description { margin:20px 0; padding:20px; padding-left:0; width:100%; border-top:1px solid var(--color-divider-light); color:var(--color-text-secondary); line-height:24px; text-indent:2em; font-size:14px; }

/****** IMAGES ******/
.station-images { display:flex; gap:16px; margin-top:16px; }
.station-images__actions { display:flex; align-items:center; justify-content:center; }
.station-images__button { width:40px; height:40px; border-radius:50%; background:var(--color-main-primary); font-size:24px; transition:all 0.3s ease; }
.station-images__button:hover { background:var(--color-main-primary-hover); }
.station-images__viewport { display:flex; overflow:hidden; scroll-snap-type:x mandatory; scroll-behavior:smooth; max-width:calc(100% - 80px - 32px); width:100%; height:240px; }
.station-images__page { flex:0 0 100%; display:flex; width:100%; scroll-snap-align:start; }
.station-images__page img { width:100%; height:100%; object-fit:cover; border-radius:8px; }
.station-images__wrapper { display:flex; flex-direction:column; width:100%; height:100%; }
.station-images__image { width:100%; height:220px; padding:8px; overflow:hidden; cursor:pointer; opacity:0.85; transition:all 0.3s ease; }
.station-images__image:hover { opacity:1; }
.station-images__caption { height:20px; font-size:12px; text-align:center; }
/**** END IMAGES ****/

/****** BOX ******/
.station-box { display:flex; flex-direction:column; gap:16px; padding:16px !important; border:1px solid var(--color-divider-dark); font-size:12px; }
.station-box strong { display:flex; gap:2px; margin-bottom:4px; text-transform:uppercase; font-size:10px; color:var(--color-text-tertiary); }
.station-box strong svg { font-size:12px; }
.station-box big { display:block; font-weight:700; font-size:16px; }
.station-box img { width:100%; }
.station-box__field {  }
/**** END BOX ****/

/****** TRANSFERS ******/
.station-transfer-list { margin-top:4px; display:flex; flex-direction:column; border:1px solid var(--color-divider-light); }
.station-transfer-list-row { display:flex; border-bottom:1px solid var(--color-divider-light); }
.station-transfer-list-icon, .station-transfer-list-lines { display:flex; align-items:center; justify-content:center; }
.station__transfer-service__icon { display:flex; align-items:center; justify-content:center; width:24px; height:24px; cursor:help; }

.station-transfer-list-icon { padding:0 6px; gap:2px; height:36px; border-right:1px solid var(--color-divider-light) }
.station-transfer-list-row:last-child { border:none; }
.station-transfer-list-lines { padding:0 8px; gap:8px; }
/**** END TRANSFERS ****/

/****** FARES ******/
.station-fares { display:flex; flex-direction:column; gap:8px; font-size:14px; }
.station-fares__text {  }
.station-fares__search { position:relative; }
.station-fares__table { width:100%; }
.station-fares__table th { padding:4px 0; background:var(--color-surface-light); color:var(--color-black); font-weight:600; }
.station-fares__table td { padding:4px 0; text-align:center; }
.station-fares__lines { display:flex; flex-wrap:wrap; justify-content:center; gap:4px; }
.station-fares .line-icon { display:flex; align-items:center; justify-content:center; border-radius:50%; width:20px; height:20px; font-size:10px; }

/** form components **/
.station-fares .field { width:100%; height:40px; outline:1px solid var(--color-divider-light); background:var(--color-surface-light); }
.station-fares .field:hover, .station-fares .field:focus-within { background:var(--color-white); }
.station-fares .field svg { font-size:16px; }
.station-fares .input { padding:8px 0; font-size:14px; }
.station-fares .button { width:40px; height:40px; }

/** selections**/
.station-fares .selections { top:48px; width:100%; max-height:296px; height:auto; border:1px solid var(--color-divider-light); overflow:hidden; }
.station-fares .selections--empty { height:48px !important; }
.station-fares .selections__list { padding-right:8px; max-height:calc(296px - 16px); display:flex; flex-wrap:wrap; gap:8px; }
.station-fares .selections__item { outline:1px solid var(--color-divider-light); outline-offset:-1px; }
.station-fares .empty { justify-content:flex-start; gap:8px; }
/**** END FARES ****/

/****** TIMETABLE ******/
.station-hours { display:flex; font-size:12px; }
.station-hours__label { padding:8px; background:var(--color-surface-dark); }
.station-hours__time { display:flex; align-items:center; gap:4px; padding:4px 6px; background:var(--color-surface-light); }

/** timings **/
.station-timetable { margin:16px 0; width:100%; display:flex; flex-direction:column; gap:8px; font-size:12px; }
.station-timetable .row { flex-direction:column; gap:8px; }
.station-timetable .row a:hover { text-decoration:underline; }
.station-timetable__line { display:flex; align-items:center; gap:4px; font-size:14px; font-weight:500; }
.station-timetable__line a { color:inherit; }
.station-timetable__item { display:flex; align-items:center; justify-content:space-between; padding:8px; background:var(--color-surface-light); }
.station-timetable__dest { display:flex; gap:4px; color:var(--color-text-tertiary); }
.station-timetable__dest a { color:var(--color-black); font-weight:500; }
.station-timetable__times { display:flex; gap:16px; }
.station-timetable__time { display:flex; gap:4px; color:var(--color-text-tertiary); }
.station-timetable__time span { width:40px; font-weight:400; }
.station-timetable__badge { display:flex; align-items:center; padding:0 4px; border-radius:2px; font-size:8px; text-transform:uppercase; color:var(--color-white); }
.station-timetable__badge--first { background:#63d076; }
.station-timetable__badge--last { background:#f76454; }
/**** END TIMETABLE ****/

/****** SCREEN SIZES ******/

/** large screen size **/
@media (max-width:1280px) {
	.station-images__viewport { height:300px; }
	.station-images__image { height:280px; }
	.station-timetable__item { flex-direction:column; align-items:stretch; gap:8px; }
	.station-timetable__dest { padding-bottom:6px; width:100%; border-bottom:1px solid var(--color-divider-light); }
	.station-timetable__times { width:100%; }
	.station-timetable__time { width:50%; }
}

/** regular screen size **/
@media (max-width:1024px) {
	.station-box { width:50%; }
	.station-images__viewport { height:260px; }
	.station-images__image { height:240px; }
}

/** tablet size **/
@media (max-width:768px) {
	.station-content { display:flex; flex-direction:column-reverse; }
	.station-content__item, .station-content__item:last-child { margin:0; padding:0 !important;width:100%; border:none; }
	.station-description { margin:40px 0 20px; padding:40px 0; font-size:16px; line-height:1.75; }
	.station-images__viewport { height:320px; }
	.station-images__image { height:280px; }
	.station-images__caption { height:40px; }
	.station-box { padding:0 !important; gap:20px; border:none; font-size:16px; }
	.station-box .station-code span { padding:2px 8px; font-size:16px; }
	.station-box big { font-size:20px; }
	.station-box strong { margin-bottom:8px; font-size:12px; }
	.station-box strong svg { font-size:14px; }
	.station-fares { font-size:16px; }
	.station-fares .input { font-size:16px; }
	.station-hours { flex-direction:column; font-size:16px; }
	.station-hours__label, .station-hours__time { padding:8px 12px; }
	.station-timetable { gap:20px; font-size:16px; }
	.station-timetable__line { font-size:20px; }
}

/** large smartphone size **/
@media (max-width:600px) {
	.station-images__viewport { height:240px; }
	.station-images__image { height:200px; }
}

/** small smartphone size **/
@media (max-width:480px) {
	
}
/**** END SCREEN SIZES ****/

/********** END STATION STYLES **********/