/*********** SEARCH STYLES ***********/
.search { }
.search__list { display:flex; flex-wrap:wrap; gap:20px; }

/*** input **/
.search-input { margin:16px 0; padding:0 20px; width:100%; height:56px; font-size:20px; background:var(--color-surface-light); border:1px solid transparent; transition:all 0.3s ease; }
.search-input:hover { outline:none; background:var(--color-white); border-color:rgba(36,131,163,0.25); transition:background 0.3s ease, border 0.3s ease, outline 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease; }
.search-input:focus { background:var(--color-white); border-color:rgba(36,131,163,0.5); box-shadow:0 0 0 4px rgba(36,131,163,0.15); }

/** filters **/
.search-options { margin-bottom:40px; display:flex; flex-direction:column; gap:8px; }
.search-options__group { display:flex; align-items:center; gap:8px; }
.search-options__label { display:flex; align-items:center; width:80px; height:24px; padding:0 8px; border-right:1px solid var(--color-divider-light); font-size:14px; font-weight:600; }
.search-options .status, .search-options .status__border { padding:0 8px; height:24px; font-weight:400; font-size:12px; }
.search-options .status__border { background:var(--color-white); color:var(--color-black); opacity:0.5; transition:all 0.3s ease; }
.search-options .status__border:hover { opacity:1; }

/** search cards **/
.search-card { display:flex; flex-direction:column; justify-content:space-between; gap:16px; padding:24px; width:calc(100% / 5 - 16px); border:1px solid var(--color-main-primary); border-radius:16px; }
.search-card__heading { display:flex; gap:8px; align-items:flex-start; justify-content:space-between; }
.search-card__name { padding:2px 0; font-size:16px; font-weight:700; }
.search-card__actions { display:flex; flex-direction:column; gap:8px; }
.search-card__line { display:flex; gap:4px; font-size:14px; cursor:pointer; }
.search-card__line:hover { font-weight:600; }
.search-card__line svg { font-size:16px; }
.search-card__button { font-size:14px; font-weight:600; transition:all 0.2s ease; }
.search-card__button:hover { transform:translateY(2px); }

/****** SCREEN SIZES ******/

/** large screen size **/
@media (max-width:1280px) {
	.search-card { width:calc(100% / 4 - 15px); }
}

/** regular screen size **/
@media (max-width:1024px) {
	.search-card { width:calc(100% / 3 - 14px); }
}

/** tablet size **/
@media (max-width:768px) {
	.search-card { width:calc(100% / 2 - 10px); }
}

/** large smartphone size **/
@media (max-width:600px) {
	
}

/** small smartphone size **/
@media (max-width:480px) {
	.search__list { flex-direction:column; flex-wrap:none; }
	.search-card { width:100%; }
}
/**** END SCREEN SIZES ****/

/********* END SEARCH STYLES *********/