/******** NOT FOUND STYLES ********/
.not-found { height:100vh; display:flex; align-items:center; justify-content:center; flex-direction:column; }
.not-found a { position:relative; display:inline-flex; color:var(--color-gray-4); }
.not-found a:hover { color:var(--color-gray-5); }
.not-found a:after { position:absolute; content:''; bottom:0; left:0; width:100%; height:2px; background:var(--color-gray-3); transition:all 0.3s ease; }
.not-found a:hover:after { background:var(--color-gray-4); transition:all 0.3s ease; }
.not-found-heading { margin-bottom:20px; font-size:128px; color:var(--color-gray-3); }
.not-found-heading span:nth-child(2) { color:var(--color-gray-1); }
.not-found-paragraph { margin-bottom:8px; width:60%; font-size:24px; font-weight:500; text-align:center; line-height:1.5; color:var(--color-gray-7); }
.not-found svg { display:inline-block; margin:0 8px -2px; }
/****** END NOT FOUND STYLES ******/

/******** CONTROLS BOX STYLES ********/
.controls-box { position:fixed; right:8px; top:calc(50% - 104px); display:flex; flex-direction:column; gap:16px; cursor:pointer; z-index:999; }
.controls-box-group, .controls-box-text { display:flex; align-items:center; justify-content:flex-end; }
.controls-box-text { width:0; overflow:hidden; transition:all 0.3s ease; transition-delay:calc(var(--order) * 0.05s); }
.controls-box:hover .controls-box-text { padding-right:16px; width:280px; transition-delay:calc(var(--order) * 0.05s); }
.controls-box span { font-size:12px; text-shadow:-1px 1px 0 var(--color-white), 1px 1px 0 var(--color-white), 1px -1px 0 var(--color-white), -1px -1px 0 var(--color-white); white-space:nowrap; }
.controls-box-icon, .controls-box-key, .controls-box-mouse { display:flex; align-items:center; justify-content:center; }
.controls-box-icon { width:24px; height:24px; }
.controls-box-key, .controls-box-mouse { width:16px; height:16px; border-radius:4px; background:var(--color-gray-9); box-shadow:0 4px 4px 0 rgba(0,0,0,0.25); }
.controls-box-key { color:var(--color-white); font-size:12px; }
.controls-box-mouse { align-items:flex-start; height:24px; border-radius:20px; }
.mouse-left:after { content:''; margin-top:4px; width:4px; height:6px; border-left:4px solid var(--color-white); border-top-left-radius:4px; }
.mouse-wheel:after { content:''; margin-top:8px; width:2px; height:4px; border-radius:2px; background:var(--color-white); animation:scroll 0.75s infinite alternate-reverse; }
.key-space { width:24px; height:12px; }
.key-space:after { content:''; width:6px; height:2px; border-radius:2px; background:var(--color-white); }
/****** END CONTROLS BOX STYLES ******/

/****** REUSE STYLES ******/

/** tabs **/
.tabs { }
.tabs__list { }
.tabs__tab { }
.tabs__content { }

/** tooltip **/
.tooltip { position:relative; display:inline-block; }
.tooltip.help { border-bottom:1px dotted var(--color-black); cursor:help; }
.tooltip-label { display:flex; align-items:center; cursor:pointer; }
.tooltip-content { position:absolute; display:flex; width:160px; z-index:999; visibility:hidden; opacity:0; transition:all 0.2s ease; }
.tooltip:hover .tooltip-content { visibility:visible; opacity:1; transition:all 0.3s ease; transform:translate(0,0); }
.tooltip-content.right { top:-2px; left:24px; transform:translateX(10px); }
.tooltip-content.left { top:-2px; right:24px; transform:translateX(-10px); }
.tooltip-content.top { bottom:28px; left:0; transform:translateY(10px); }
.tooltip-content.bottom { top:28px; left:0; transform:translateY(-10px); }
.tooltip-text { padding:6px 8px; width:auto; min-height:24px; background-color:var(--color-black); color:var(--color-white); border-radius:8px; font-size:12px; }

/** status **/
.status { padding:2px 6px; line-height:1.25; border-radius:4px; color:var(--color-white); font-size:12px; cursor:pointer; }
.status-io { background:rgb(0, 176, 80); }
.status-uc { background:rgb(230, 118, 34); }
.status-ut { background:rgb(52, 152, 219); }
.status-p { background:rgb(155, 89, 182); }
.status-ofs { background:rgb(192, 0, 0); }

/** station code **/
.station-code { display:flex; border:1px solid transparent; font-family:'JetBrains Mono', monospace; font-size:12px; font-weight:500; }
.station-code span { display:flex; align-items:center; padding:0 4px; border-top-left-radius:4px; border-bottom-left-radius:4px; border:2px solid transparent; }
.station-code span:last-child { border-radius:0; border-top-right-radius:4px; border-bottom-right-radius:4px; border-left:none; }

/** transfers **/
.transfer__list { }
.transfer__group { display:flex; padding:0 6px; background:var(--color-gray-1); border-radius:4px; }
.transfer__icon, .transfer__item, .transfer__item--circle, .transfer__method { display:flex; align-items:center; justify-content:center; }
.transfer__item, .transfer__item--circle { height:20px; font-weight:500; overflow:hidden; cursor:pointer; }
.transfer__item { width:auto; font-size:12px; }
.transfer__item--circle { width:20px; border-radius:50%; background:var(--color-gray-1); outline-offset:-2px; font-size:10px; }
.transfer__method { margin:4px 0 4px 6px; padding-left:6px; height:12px; border-left:1px solid var(--color-gray-3); font-size:14px; }
.transfer__img { max-width:100%; max-height:100%; padding:4px; }
/**** END REUSE STYLES ****/

/****** SCREEN SIZES ******/

/** large screen size **/
@media (max-width:1280px) {

}

/** regular screen size **/
@media (max-width:1024px) {
	
}

/** tablet size **/
@media (max-width:768px) {
	
}

/** large smartphone size **/
@media (max-width:600px) {
	.controls-box { display:none; }
	.transfer { width:24px; height:24px; font-size:12px; }
}

/** small smartphone size **/
@media (max-width:480px) {
	
}
/**** END SCREEN SIZES ****/