/****** HEADER STYLES ******/
.header { height:60px; background:var(--color-header); color:var(--color-white); }
.header__wrapper { margin:0 auto; width:75%; height:100%; max-width:1200px; display:flex; align-items:center; justify-content:space-between; }
.header__title { display:flex; align-items:center; justify-content:center; gap:8px; font-size:24px; font-weight:700; color:var(--color-white); }
.header__title:hover { color:var(--color-white); }

/** search **/
.header__search { display:flex; align-items:center; justify-content:flex-end; width:40%; }
.header__search-field { display:flex; align-items:center; justify-content:flex-end; width:100%; border-radius:8px; outline:4px solid transparent; overflow:hidden; transition:outline 0.3s ease; }
.header__search-field:focus-within { outline-color:var(--color-navy-dark); transition:outline 0.3s ease; }
.header__search__input { padding:0 16px; width:calc(100% - 40px); height:40px; border-radius:0; background:var(--color-text-primary); color:var(--color-white); font-size:16px; transition:background 0.3s ease; }
.header__search__input:hover, .header__search__input:focus { background:var(--color-black); }
.header__search__button { width:40px; height:40px; border-radius:0; background:var(--color-text-primary); color:var(--color-white); font-size:20px; transition:background 0.75s ease; }
.header__search__button:hover { background:var(--color-text-secondary); transition:background 0.3s ease; }
/**** END HEADER STYLES ****/

/****** FOOTER STYLES ******/
.footer { }
/**** END FOOTER STYLES ****/

/****** REUSE STYLES ******/

/** nav **/
.nav { width:100%; display:flex; align-items:center; justify-content:center; background:var(--color-surface-light); }
.nav__item { display:flex; align-items:center; padding:0 20px; height:40px; background:transparent; color:var(--color-black); cursor:pointer; }
.nav__item:hover { background:var(--color-surface-dark); color:var(--color-black); }

/** modal **/
.modal { position:fixed; top:0; left:0; bottom:0; right:0; display:flex; background:rgba(0,0,0,0.9); opacity:0; visibility:hidden; transition:all 0.3s ease; z-index:999; }
.modal.active { opacity:1; visibility:visible; transition:all 0.3s ease; }
.modal__content { position:relative; display:flex; margin:auto; width:70%; }
.modal__close { position:absolute; top:40px; right:40px; background:none; color:var(--color-text-tertiary); font-size:40px; transition:all 0.3s ease; }
.modal__close:hover { color:var(--color-white); }
.modal__control { width:64px; display:flex; align-items:center; justify-content:center; color:var(--color-white); font-size:40px; cursor:pointer; transition:all 0.3s ease; }
.modal__control:hover { background:var(--color-black); }
.modal__viewport { flex:2; display:flex; overflow:hidden; scroll-snap-type:x mandatory; scroll-behavior:smooth; width:100%; }
.modal__image { position:relative; flex:0 0 100%; display:flex; width:100%; opacity:0; scroll-snap-align:start; user-select:none; pointer-events:none; transition:opacity 0.3s ease, transform 0.3s ease; }
.modal__image.active { opacity:1; }
.modal__image img { width:100%; max-height:100%; margin:0 auto; object-fit:cover; }
.modal__caption { position:absolute; bottom:0; left:0; width:100%; }
.modal__caption span { display:block; width:100%; height:48px; padding:8px 12px; background:rgba(0,0,0,0.9); color:var(--color-text-tertiary); }
.modal__caption--mobile { position:fixed; bottom:64px; display:none; }
.modal__caption--mobile span, .modal__indicator { display:flex; align-items:center; justify-content:center; width:auto; border-radius:20px; background:var(--color-text-secondary); color:var(--color-white); }
.modal__caption--mobile span { margin:0 auto; padding:0 20px; height:40px; }
.modal__indicator { position:fixed; bottom:20px; right:20px; padding:0 12px; height:32px; font-family:'JetBrains Mono', monospace; font-size:14px; }

/** tabs **/
.tabs { }
.tabs__list { margin-bottom:4px; display:flex; gap:8px; width:100%; }
.tabs__tab { flex:1; display:flex; align-items:center; gap:4px; padding:8px; border-radius:8px; background:var(--color-white); border:1px solid var(--color-main-primary); font-weight:600; cursor:pointer; opacity:0.5; transition:all 0.3s ease; }
.tabs__tab:hover { opacity:1; }
.tabs__tab.active { border:1px solid var(--color-main-tertiary); opacity:1; }
.tabs__content { padding:8px 0; }



/** form components **/
.field { position:relative; width:400px; height:56px; display:flex; align-items:center; gap:16px; border-radius:8px; background:rgba(255,255,255,0.5); cursor:pointer; transition:all 0.3s ease; }
.field:focus-within, .field.active { background:var(--color-white); }
.field svg { margin-left:16px; font-size:24px; color:var(--color-green); }
.input { flex:1; padding:16px 0; background:transparent; border-radius:0; font-size:20px; cursor:pointer; }
.input--fake { font-style:italic; font-family:'Inter', sans-serif; font-size:20px; color:var(--color-text-tertiary); }
.input::placeholder { color:var(--color-text-tertiary); }
.button { padding:0; width:56px; height:56px; background:var(--color-white); color:var(--color-text-link); transition:all 0.3s ease; }
.button svg { margin:0; font-size:24px; }
.button:hover { background:var(--color-surface-light); }
.button:active { background:var(--color-surface-dark); }
.button:disabled, .button:disabled:hover { background:var(--color-surface-light); }

/** selections **/
.selections { position:absolute; top:64px; left:0; padding:8px; border-radius:8px; width:100%; height:248px; background:var(--color-white); z-index:9; cursor:default; }
.selections--empty { padding:0 16px; height:80px !important; }
.selections__list { height:100%; overflow:auto; }
.selections__item { display:block; padding:8px; font-size:14px; transition:all 0.3s ease; }
.selections__item:hover { background:var(--color-surface-dark); cursor:pointer; }
.selections__item span { font-style:normal !important; font-weight:600 !important; background:var(--color-yellow); color:inherit !important; }

/** status **/
.status { padding:2px 6px; line-height:1.25; border-radius:4px; color:var(--color-white); font-size:12px; cursor:pointer; }
.status--io { background:rgb(0, 176, 80); }
.status--uc { background:rgb(230, 118, 34); }
.status--ut { background:rgb(52, 152, 219); }
.status--p { background:rgb(155, 89, 182); }
.status--ofs { background:rgb(192, 0, 0); }
.status__border { border-radius:4px; border:1px dashed transparent; }
.status__border--io { border-color:rgb(0, 176, 80); border-style:solid; }
.status__border--uc { border-color:rgb(230, 118, 34); }
.status__border--ut { border-color:rgb(52, 152, 219); }
.status__border--p { border-color:rgb(155, 89, 182); }
.status__border--ofs { border-color:rgb(192, 0, 0); }
/**** END REUSE STYLES ****/

/****** SCREEN SIZES ******/

/** large screen size **/
@media (max-width:1280px) {

}

/** regular screen size **/
@media (max-width:1024px) {	
	.header__search { width:50%; }
}

/** tablet size **/
@media (max-width:768px) {
	.header { height:auto; }
	.header__wrapper { width:90%; padding:16px 0; flex-direction:column; align-items:flex-start; gap:8px; }
	.header__title { margin:4px 0; }
	.header__search { width:100%; }
	.modal { background:var(--color-black); }
	.modal__content { margin:20vh auto; width:100%; }
	.modal__close, .modal__control { display:none; }
	.modal__image { opacity:1; }
	.modal__image img { width:100%; height:100%; object-fit:contain; }
	.modal__caption { display:none; }
	.modal__caption--mobile { display:flex; }
	.tabs__list { margin-bottom:8px; }
}

/** large smartphone size **/
@media (max-width:600px) {
	.nav { flex-wrap:wrap; gap:8px; background:transparent; }
	.nav__item { background:var(--color-surface-light); }
}

/** small smartphone size **/
@media (max-width:480px) {
	
}
/**** END SCREEN SIZES ****/