@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/****** ROOT VARIABLES ******/
:root {
  
  --color-white:#ffffff;
  --color-black:#000000;

  --color-gray-0:#f4f5f7;
  --color-gray-1:#ebebeb;
  --color-gray-2:#d3d3d3;
  --color-gray-3:#c3c3c3;
  --color-gray-4:#888888;
  --color-gray-5:#646464;
  --color-gray-6:#5e5e5e;
  --color-gray-7:#3e3e3e;
  --color-gray-8:#242424;
  --color-gray-9:#1a1a1a;

  --color-navy:#273a51;
  --color-navy-dark:#243237;
  --color-green:#13ae4e;
  --color-yellow:#ffff00;
  --color-yellow-dark:#666600;

  --color-text-primary:var(--color-gray-9);
  --color-text-secondary:var(--color-gray-7);
  --color-text-tertiary:var(--color-gray-4);
  --color-text-link:var(--color-navy);

  --color-main-primary:var(--color-gray-3);
  --color-main-primary-hover:var(--color-gray-4);
  --color-main-secondary:var(--color-gray-2);
  --color-main-tertiary:var(--color-gray-1);

  --color-header:var(--color-gray-8);

  --color-surface-dark:var(--color-gray-1);
  --color-surface-light:var(--color-gray-0);

  --color-divider-dark:var(--color-gray-3);
  --color-divider-light:var(--color-gray-1);

  --font-tiny:10px 'Inter', sans-serif;
  --font-small:12px 'Inter', sans-serif;
  --font-sub:14px 'Inter', sans-serif;
  --font-body:16px 'Inter', sans-serif;
  --font-heading-3:20px 'Inter', sans-serif;
  --font-heading-2:24px 'Inter', sans-serif;
  --font-heading-1:32px 'Inter', sans-serif;
}
/**** END ROOT VARIABLES ****/

/****** DEFAULT STYLES ******/
* { padding:0; margin:0; outline:0; border:0; box-sizing:border-box; }
html { scroll-behavior:smooth; }
body { font-size:1rem; font-family:'Inter', sans-serif; color:var(--color-text-primary); }
p { margin:16px 0; line-height:1.5; }
ul { margin:0; padding-left:24px; }
li { margin:4px 0; }
code { font-family:'JetBrains Mono', monospace; }
a { display:inline-block; text-decoration:none; color:var(--color-text-link); transition:all 0.3s ease; }
a:hover { color:var(--color-text-link); }
:hover { transition:all 0.3s ease; }
h1 { font:var(--font-heading-1); font-weight:700; }
h2 { margin:16px 0; font:var(--font-heading-2); font-weight:600; border-bottom:1px solid var(--color-divider-light); }
h3 { margin:16px 0 8px; font:var(--font-heading-3); font-weight:500; }
li { margin-bottom:8px; }
input { padding:8px; border-radius:8px; font-family:'Inter', sans-serif; cursor:pointer; }
input::placeholder { font-style:italic; }
button { padding:16px 4px; height:40px; display:flex; align-items:center; justify-content:center; gap:8px; border-radius:8px; color:var(--color-white); font-family:'Inter', sans-serif; font-size:13px; font-weight:800; cursor:pointer; }
button:disabled { opacity:0.5; cursor:default; }
/**** END DEFAULT STYLES ****/

/****** STANDARD STYLES ******/
.container { min-height:100vh; }
.wrapper { display:flex; flex-direction:column; height:100vh; }
.main { display:flex; flex-direction:column; gap:20px; flex:1; height:calc(100vh - 60px); }
.content { margin:0 auto; padding:20px 0; width:75%; max-width:1200px; }
.row { display:flex; }
.col { display:flex; flex-direction:column; }

.empty { display:flex; height:100%; align-items:center; justify-content:center; }
.invert { filter:brightness(0) invert(1); }
.none { visibility:hidden; }
/**** END STANDARD STYLES ****/

/******** OVERRIDES ********/
.react-tiny-popover-container { z-index:9; }
/****** END OVERRIDES ******/

/****** ANIMATIONS ******/
.loading-spinner { animation:rotate 600ms infinite linear; color:var(--color-surface-dark); }
@keyframes rotate {
  0% { transform:rotate(0); }
  100% { transform:rotate(360deg); }
}
@keyframes scroll {
  0% { transform:translateY(3px); }
  100% { transform:translateY(-3px); }
}
@keyframes slideIn {
  0% { transform:translateX(500px); opacity:0; width:200px; }
  100% { transform:translateX(0px); opacity:1; width:200px; }
}
@keyframes slideOut {
  0% { transform:translateX(0px); opacity:1; width:200px; }
  90% { transform:translateX(400px); opacity:0.1; width:0; }
  100% { transform:translateX(500px); opacity:0; width:0; }
}
/**** END ANIMATIONS ****/

/****** SCREEN SIZES ******/

/** large screen size **/
@media (max-width:1280px) {

}

/** regular screen size **/
@media (max-width:1024px) {
	
}

/** tablet size **/
@media (max-width:768px) {
	.content { width:90%; }
}

/** large smartphone size **/
@media (max-width:600px) {
  h2 { font-size:28px; }
}

/** small smartphone size **/
@media (max-width:480px) {
	
}
/**** END SCREEN SIZES ****/

/*:root {
  font-family:Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height:1.5;
  font-weight:400;

  color-scheme:light dark;
  color:rgba(255, 255, 255, 0.87);
  background-color:#242424;

  font-synthesis:none;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

a {
  font-weight:500;
  color:#646cff;
  text-decoration:inherit;
}
a:hover {
  color:#535bf2;
}

body {
  margin:0;
  display:flex;
  place-items:center;
  min-width:320px;
  min-height:100vh;
}

h1 {
  font-size:3.2em;
  line-height:1.1;
}

button {
  border-radius:8px;
  border:1px solid transparent;
  padding:0.6em 1.2em;
  font-size:1em;
  font-weight:500;
  font-family:inherit;
  background-color:#1a1a1a;
  cursor:pointer;
  transition:border-color 0.25s;
}
button:hover {
  border-color:#646cff;
}
button:focus,
button:focus-visible {
  outline:4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme:light) {
  :root {
    color:#213547;
    background-color:#ffffff;
  }
  a:hover {
    color:#747bff;
  }
  button {
    background-color:#f9f9f9;
  }
}*/
