/****** SCREEN SIZES ******/

/** large screen size **/
@media (max-width:1280px) {
	.home-left { width:60%; }
	.home-images { transform:scale(0.75); }

	.search-card { width:calc(100% / 4 - 15px); }
	
}

/** regular screen size **/
@media (max-width:1024px) {
	.home { position:relative; overflow:hidden; }
	.home-left { width:45%; height:100vh; position:relative; align-items:flex-start; justify-content:flex-start; background:var(--color-black); }
	.home-right { height:100vh; }
	.home-row, .home-row form { width:100%; }
	.home-images { transform:scale(1.25) translate(80px, 64px); display:flex; background:linear-gradient(-90deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0.95) 100%); }
	.home-right { height:100vh; padding:0 40px; background:linear-gradient(-90deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0.95) 100%); color:var(--color-white); }
	.home-field { width:100%; background:rgba(0,0,0,0.5); }
	.home-field:focus-within, .home-field.active, .home-selections, .home-button { background:var(--color-black); color:var(--color-white); }
	.home-input { width:calc(100% - 56px); color:var(--color-white); }
	.home-selections a, .home-button { color:var(--color-gray-2); }
	.home-selections a:hover, .home-button:hover { background:var(--color-gray-9); }
	.home-full-overlay { opacity:1; }
	.search-card { width:calc(100% / 3 - 14px); }
	
}

/** tablet size **/
@media (max-width:768px) {
	.home-left { width:20%; }
	.home-title { flex-direction:column; }
	.search-card { width:calc(100% / 2 - 10px); }
}

/** large smartphone size **/
@media (max-width:600px) {
	.home-left { width:0%; }
	.route { height:100%; scroll-snap-type:none; }
	.route-line { margin:24px 0; width:100%; height:12px; border-radius:8px; }
	.route-stations, .station-tip { display:none; }
	.route-stations-mobile { display:flex; }
}

/** small smartphone size **/
@media (max-width:480px) {
	.home-right { padding:0; }
	.home-text { padding:40px; width:100vw; }
	.home-title { font-size:36px; }
	.search-list { flex-direction:column; flex-wrap:none; }
	.search-card { width:100%; }
}
/**** END SCREEN SIZES ****/